.container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr); 
    grid-template-areas: "header header header header";
}
.item{
    width: 100px;
    height: 100px;
    background-color: blue;
    border: 2px solid black;
    text-align: center;
    align-content: center;
    color: white;
}
.item1{
    grid-area: hader;
}
.item2{
    grid-area: mean;
}
.item3{
    grid-area: side bar;
}
.item4{
    grid-area: footer;
}
