.container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr); 
    grid-template-areas: "header header header header";          
}
.item{
    width: 200px;
    height: 200px;
    border: 50px solid red;
    text-align: center;
    align-content: center;
    color: chartreuse;
    background-color: darkcyan;
    font-size: 50px;
    padding: auto;
    margin: auto;
align-items: flex-end;

}